# Homework 1

You need to edit this `.ipynb` file by replacing "# Your code", "# Your answer", etc., click "Restart & Run All" in Jupyter Notebook to generate your results, and download it as an `.html` file. Please submit your `.ipynb` and `.html` files (instead of a `.zip` file) on Moodle. If you have questions regarding the homework, please email the TA Saumil Shah (sashah8@ncsu.edu), or attend our office hours.

Let's first import the data:

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
ercot = pd.read_csv('C:/Users/leemi/Desktop/LSM/1. PhD Research/1. Class/2024 Fall/ECE 592 (074)_Power System/20190101-20191231 ERCOT Real-time Price.csv')
ercot['Date'] = pd.to_datetime(ercot['Date'], format="%m/%d/%Y %I:%M:%S %p")
ercot

                     Date    Price      Zone
0     2019-01-01 00:00:00  14.9375  LZ_SOUTH
1     2019-01-01 00:00:00  15.5050   LZ_LCRA
2     2019-01-01 00:00:00  14.8900    LZ_AEN
3     2019-01-01 00:00:00  13.4500  LZ_RAYBN
4     2019-01-01 00:00:00  12.5700   LZ_WEST
...                   ...      ...       ...
70067 2019-12-31 23:00:00  12.3925  LZ_SOUTH
70068 2019-12-31 23:00:00  12.3775   LZ_WEST
70069 2019-12-31 23:00:00  12.3925   LZ_LCRA
70070 2019-12-31 23:00:00  12.3925    LZ_CPS
70071 2019-12-31 23:00:00  12.3925    LZ_AEN

[70072 rows x 3 columns]

The following problems are independent (unless stated otherwise), meaning that all the manipulations are based on `ercot`.

### Problem 1

Consider a particular zone, say `LZ_HOUSTON`. Count the observations. Why is it less than 8760?

In [9]:
# Your code
houston_count = ercot['Zone'].value_counts().get('LZ_HOUSTON', 0)
houston_count

8759

In [11]:
houston_data = ercot[ercot['Zone'] == 'LZ_HOUSTON']
full_range = pd.date_range(start='2019-01-01 00:00:00', end='2019-12-31 23:00:00', freq='H')
missing_times = full_range.difference(houston_data['Date'])
missing_times

C:\Users\leemi\AppData\Local\Temp\ipykernel_39212\4059886421.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  full_range = pd.date_range(start='2019-01-01 00:00:00', end='2019-12-31 23:00:00', freq='H')

DatetimeIndex(['2019-03-10 02:00:00'], dtype='datetime64[ns]', freq='h')

In [ ]:
# Your answer (why is it less than 8760?)
# The data for March 10, 2019, at 02:00 AM is missing.

### Problem 2

Consider the variable `Price`. What is the proportion (a number between $0$ and $1$) of negative prices?

In [13]:
# Your code
negative_count = (ercot['Price'] < 0).sum()
total_count = len(ercot)
negative_price_proportion = negative_count / total_count
negative_price_proportion

0.00826292955816874

### Problem 3

Print the row(s) with the highest `Price` and the row(s) with lowest `Price`.

In [14]:
# Your code (highest)
max_price_rows = ercot[ercot['Price'] == ercot['Price'].max()]
max_price_rows

                     Date   Price        Zone
43512 2019-08-15 16:00:00  9000.0      LZ_AEN
43513 2019-08-15 16:00:00  9000.0      LZ_CPS
43514 2019-08-15 16:00:00  9000.0     LZ_LCRA
43515 2019-08-15 16:00:00  9000.0    LZ_NORTH
43516 2019-08-15 16:00:00  9000.0    LZ_RAYBN
43517 2019-08-15 16:00:00  9000.0  LZ_HOUSTON
43518 2019-08-15 16:00:00  9000.0     LZ_WEST
43519 2019-08-15 16:00:00  9000.0    LZ_SOUTH

In [15]:
# Your code (lowest)
min_price_rows = ercot[ercot['Price'] == ercot['Price'].min()]
min_price_rows

                     Date  Price     Zone
56650 2019-10-23 02:00:00 -22.23  LZ_WEST

### Problem 4

Test the hypothesis that the mean of `Price` for zone `LZ_HOUSTON` is $30$ at the significance level $5\%$.

In [2]:
# Your code

houston_prices = ercot[ercot['Zone'] == 'LZ_HOUSTON']['Price']
null_mean = 30
t_statistic, p_value = stats.ttest_1samp(houston_prices, null_mean)
significance_level = 0.05
reject_null = p_value < significance_level

t_statistic, p_value, reject_null

(2.7773995927517725, 0.0054912309477494195, True)

In [ ]:
# Your answer (do we reject the null hypothesis?)
# Yes, we reject the null hypothesis because the p-value (0.0055) is less than the significance level of 0.05.

### Problem 5

We have obtained the $t$-statistic in Problem 4. We can also compute the degrees of freedom from Problem 1. Use `stats.t.cdf` to verify the $p$-value obtained in Problem 4.

In [3]:
# Your code
n = len(houston_prices)
degrees_of_freedom = n - 1

p_value_one_sided = 1 - stats.t.cdf(t_statistic, df=degrees_of_freedom)
p_value_two_sided = p_value_one_sided * 2

p_value_two_sided

0.0054912309477492816